@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: var(--font-jura);  /* Fonte principal */
  --font-secondary: var(--font-geist); /* Fonte secundária */
}

/* Aplicando a fonte no body */
body {
  font-family: var(--font-primary), sans-serif;
}


